{
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "extends": ["airbnb-base", "eslint:recommended"],
    "plugins": ["react"],
    "rules": {
        "no-undef": 2,
        "no-unused-vars": ["error"],
        "import/newline-after-import": 0
    }

}